body {
  background-color: rgb(0, 132, 203);
  /* background-color: rgba(58, 88, 117, 0.7); */
  box-sizing: border-box;
}

.header {
  margin-top: 20px;
  font-family: 'Trade Winds';
}

.input-error {
  border: 3px solid rgba(255,0,0,0.4);
  color: red;
}

.hide {
  display: none;
}

.rgb-sliders {
  background-color: #ddd;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
}

.border-right-md {
  border-right: 1px solid gray;
}

.inputs {
  display: inline-block;
  width: 75px;
  font-family: 'Permanent Marker', serif;
}

#colorShow {
  height: 20px;
  width: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {opacity: 1;}
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  #redSlider::-webkit-slider-thumb {background: red;}
  #redSlider::-moz-range-thumb {background: red;}
  #greenSlider::-webkit-slider-thumb {background: green;}
  #greenSlider::-moz-range-thumb {background: green;}
  #blueSlider::-webkit-slider-thumb {background: blue;}
  #blueSlider::-moz-range-thumb {background: blue;}

  .lighting-group-name {
    margin-left: 10px;
  }

  #lighting-groups {
    font-size: 1.4em;
  }

  #select-all-lights,
  #select-none-lights {
    background-color: rgb(75,75,75);
    color: white
  }

  .scene-btn, .scene-info-btn {
    margin: 5px;
  }
  .scene-btn {
    width: 70%;
  }
  .scene-info-btn {
    width: 20%;
    /* float: right; */
  }

  @media (max-width: 768px) {
    .border-right-md {
      border-right: none;
      border-bottom: 1px solid black;

    }

    .border-top-small {
      margin-top: 10px;
    }

    .scene-btn, .scene-info-btn {
      width: 100%;
      font-size: 0.8em;
    }
  }